
/* color scheme: #2C3531  #116466   #FFCB9A #D1E8E2     */
.Container{
    width: 95%;
    background-color: #D9b08C;
    font-family : Roboto, sans-serif;
    display: flex;
    

}
/* .show{
    display : none;
} */